/* background: #4D77FF */
/* background: #56BBF1 */
/* background: #F2FA5A */
/* background: #5EE6EB */

.container {
  padding: 1rem;
  background: #56BBF1;
  height: 100vh;
  color: #F2FA5A;
  text-align: center;
}
